.container {
    width: 50%;
    position: relative;
    top: 10rem;
}

.btn-primary {
    position: absolute;
    left: 40%;
}

.pop-up {
    position: absolute;
}
.head {
    position: relative;
    left: 40%;
}