.container {
    border: solid #e9ecef;
    border-width: 3px;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.pop-up {
    background-color: white;
    border: 3px solid rgb(233, 236, 239);
    border-radius: 15px;
    padding: 3px 5px 0px 5px;
}

.head {
    color: grey;
    text-shadow: 3px 2px 2px white;
}